.container {
  width: 50%;
}

.jumbotron {
  margin-top: 2em;
  text-align: center;
  padding: 1em;
  background-color: white;
  border: gray solid 1px;
}

#input-missing, .panic, #new-computer {
  display: none;
}

#count-output {
  display: none;
  padding: 2em;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2em;
}

.btn-group {
  float: right;
}

#new-computer {
  text-align: center;
}

.panic {
  display: none;
}

#panicButton {
  border-radius: 3rem;
}

#panicGif {
  width: 1000px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#back {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
